{% extends 'baseFront.html.twig' %}

{% block title %}Réanitialisation de mot de passe{% endblock %}

{% block body %}

<body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand" href="#page-top"><img src="/assets/img/lall-logo-_1_ copy.svg" alt="..." /></a>
            </div>
        </nav>


        
        <!-- Masthead-->
        <header class="masthead">

        <div class="container">
          <div class="row justify-content-center">
            
<div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              
              <div class="containerr ">

                <div class="card-body">
              
             <h1>Réanitialisation de mot de passe</h1>
            {{ form_start(passForm) }}
                {{form_row(passForm.password.first)}}
                {{form_row(passForm.password.second)}}
                <button class="btn btn-primary w-100" type="submit">reset password</button>
            {{ form_end(passForm) }}

            
          </div>
        </div>
        
            
</div>
        </div>
        </div>
                
           

        
        
        </header>
        
    
       
        
    </body>

{% endblock %}
