{% extends 'baseBack.html.twig' %}

{% block title %}Add Client !{% endblock %}

{% block body %}
<body>

  <main id="main" class="main">

  <div class="pagetitle">
      <h1>Add Client</h1>
    </div><!-- End Page Title -->

      <div class="container">
        <div class="container">
                    <div class="row my-5">
                        <div class="col-md-8 mx-auto">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">
                                        Add Client
                                    </h3>
                                </div>
                                <div class="card-body">
                                   
                            <div class="col-12">
                            <label for="yourName" class="form-label">Name Client</label>
                           
                            </div>
                            

                            <div class="col-12">
                            <label for="yourEmail" class="form-label">Email Client</label>
                            
                            </div>
                           

                            <div class="col-12">
                            <label for="yourEmail" class="form-label">Phone Number Client</label>
                           
                            </div>
                           

                            <div class="col-12">
                            <label for="yourPassword" class="form-label">Password Client</label>
                          
                            <div class="invalid-feedback">Please enter your password!</div>
                            </div>
                           

                            <div class="col-12">
                            <label for="yourPassword" class="form-label">Confirme Password Client</label>
                            
                            <div class="invalid-feedback">Please confirme your password!</div>
                            </div>
                            <div class="col-12">
                            <button class="btn btn-primary w-100" type="submit">Add Client</button>
                            </div>
                        
                                </div>
                            </div>
                        </div>

                    </div>
            </div>
        </div>

  </main>

  

</body>

            
{% endblock %}