<h1>Réanitialisation de votre mot de passe </h1>
<p>Bonjour {{ user.username }},</p>
<p>Pour votre demande de réanitialisation de mot de passe, veuiller cliqeur sur le lien suivant :</p>
<p><a href="{{ url|raw }}">{{ url|raw }}</a></p>
<p>Merci</p>