<h1>Activer votre compte </h1>
<p>Bonjour {{ user.username }},</p>
<p>Votre inscription sur notre site est a valider en cliquant sur le lien ci-dessous :</p>
<p><a href="{{ absolute_url(path('verify_user',{token: token})) }}">
{{ absolute_url(path('verify_user',{token: token})) }}
</a></p>
<p>Ce lien expirera dans 3 heures</p>