{% extends 'baseBack.html.twig' %}

{% block title %}Show Client !{% endblock %}


{% block body %}
<body>

  <main id="main" class="main">

  <div class="pagetitle">
      <h1>Show Client</h1>
    </div><!-- End Page Title -->

  
       <div class="container">
                    <div class="row my-5">
                        <div class="col-md-8 mx-auto">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">
                                        Client id : {{ client.id }}
                                    </h3>
                                </div>
                                </br>

                                <div class="card-body">
                                    <div class="card">
                                       Client name : {{ client.username }}
                                    </div>
                                    </br>
                                    <div class="card">
                                        Client Email : {{ client.email }}
                                    </div>
                                    </br>
                                    <div class="card">
                                        Client Numero telephone : {{ client.numTel }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        

                    </div>
                    
        </div>
        

  </main>

  

</body>

            
{% endblock %}